body{
    background-image:url(bakgr.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    height: 100%;
    align-items:flex-start;
}
body::after{
    content: '';
    position:absolute;
    
    
    left: 0px;
    top: 0px;
    height: 610px;
    width: 100%;
    background-color:black;
    opacity: 0.2;
    z-index: -1;
}

.container{
    width: 350px;
    height: 430px;
    background-color: silver;
    margin: 120px auto;

}
table{
    width: 100%;
    border-color: black;
}

td{
    width:18%;
}

button{
    width: 100%;
    height:70px ;
    font-size: 20px;
    background-color:rgb(112, 107, 107);
    border: none;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff; 
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
button:hover {background-color:rgb(53, 50, 50) }

button:active {
  background-color:rgb(112, 107, 107);
  box-shadow: 0 5px rgb(243, 236, 236);
  transform: translateY(4px);
}

.clear button{
    background-color: rgb(138, 13, 13);
}
.clear button:hover{
    background-color: rgb(65, 8, 8);
}

#display{
    height: 120px;
    font-size: 40px;
    vertical-align:center;
    color: white;
    text-align: right;
    padding-right: 16px;
    background-color: rgb(5, 41, 23);
    border:solid ;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
